body {
    margin: 0;
    height: 100vh;
}

#title-container {
    background-color: rgba(50, 168, 82, 0.7);
    border: 5px solid black;
    margin: 10px;
}

h1 {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#game {
    height: 80%;
    width: 100%;
    display: flex;
}

#drawing {
    background-color: rgba(50, 117, 168, 0.7);
    flex: 1;
    margin: 0px 10px;
    border: 2px solid black;
}

#text {
    flex: 1;
    margin: 0px 10px;
    border: 2px solid black;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#main-text {
    display: flex;
}

#left-text {
    flex: 1;
}

#right-text {
    flex: 1;
}

#instructions {
    margin: 10px;
}

#guess-space {
    font-size: large;
    letter-spacing: 0.75em;
    height: 30%;
    margin: 20px;
    padding: 2px 2px;
}

#wrong-guesses {
    border: 4px solid black;
    height: 20%;
    width: 90%;
    margin: auto;
    padding: 2px 2px;
    border-radius: 4px;
}

#wrong-guess-content {
    letter-spacing: 0.75em;
    line-height: 2em;
}

.drawing {
    stroke:rgb(0, 0, 0); 
    stroke-width: 5;
}

button {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    width: 30%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

input {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    width: 80%;
    margin: 10px;
    padding: 2px 2px;
    border: 2px solid black;
    border-radius: 4px;
}